<h1>New Product</h1>
<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br />
  <%= f.label :inventory %>
  <%= f.text_field :inventory %>
  <%= f.submit "submit" %>
<% end %><br>
<div id="productName"></div>
<div id="productDescription"></div>
<div id="productInventory"></div>
<div id="productPrice"></div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    document.getElementsByTagName('form')[0].addEventListener('submit', function(e) {
      e.preventDefault();
      const values = $(this).serialize() //serialize is a jQuery method

      const posting = $.post('/products', values);
      posting.done(function(data) {
        $("#productName").text(`Name: ${data["name"]}`);
        $("#productDescription").text(`Description: ${data["description"]}`);
        $("#productInventory").text(`Inventory: ${data["inventory"]}`);
        $("#productPrice").text(`Price: ${data["price"]}`);
      });

      // fetch('localhost:3000/products', {
      //   method: 'POST',
      //   headers: {
      //     'Content-Type': 'application/json',
      //     Accepts: 'appication/json'
      //   },
      //   body: JSON.stringify(values)
      // }).then(res => res.json())
      //   .then(data => {
      //       $("#productName").text(`Name: ${data["name"]}`);
      //       $("#productDescription").text(`Description: ${data["description"]}`);
      //       $("#productInventory").text(`Inventory: ${data["inventory"]}`);
      //       $("#productPrice").text(`Price: ${data["price"]}`);
      //   })

    });
  })
</script>
